<html>
  <head>
    <title>Spotify Search</title>
    <link rel="stylesheet" href="/styles/style.css">
  </head>
  <body>
    <nav>
      <h1><a href="/">Spotify</a></h1>
      <form action="/artist-search" method="GET">
  <input type="search" name="term" placeholder="Search for an artist" id="">
  <button>Search</button>
</form>
    </nav>

    {{{ body }}}
  </body>
</html>